<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBDf5V6urDxsIFh_oDND3Q4JOFWf-DHtqk" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
